:root{
	/* color */

	/* dark mode */
	--color-black: hsl(0deg 0% 0% / 100%);
	--color-black5: hsl(0deg 0% 5% / 100%);
	--color-black10: hsl(0deg 0% 10% / 100%);
	--color-black30: hsl(0deg 0% 30% / 100%); /* don't use this one for BG */

	/* light mode */
	--color-white: hsl(0deg 0% 100% / 100%);
	--color-white95: hsl(0deg 0% 95% / 100%);
	--color-white90: hsl(0deg 0% 90% / 100%);
	--color-white70: hsl(0deg 0% 70% / 100%); /* don't use this one for BG */

	/* accent */
	--color-orange: oklch(67.85% 0.2145 38.061deg);
	--color-orange-light: oklch(81.55% 0.1093 42.22deg);
  --color-orange-dark: oklch(40.31% 0.1448 34.04deg);
	--color-accent: light-dark(var(--color-orange-dark), var(--color-orange-light));


	/* site logo */
	--site-logo-line: var(--color-orange);
	--site-logo-bg: transparent;

	/* other */
	--site-bg-light: light-dark(var(--color-white), var(--color-black10));
	--site-bg: light-dark(var(--color-white95), var(--color-black5));
	--site-bg-dark: light-dark(var(--color-white90), var(--color-black));
	--site-fg: light-dark(var(--color-black), var(--color-white));
	--site-fg-muted: light-dark(var(--color-black30), var(--color-white70));

	/* typography */

	/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--s--2: clamp(0.7035rem, 0.8131rem + -0.1414vw, 0.7813rem);
	--s--1: clamp(0.9375rem, 0.9374rem + 0.0004vw, 0.9377rem);
	--s-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
	--s-1: clamp(1.35rem, 1.2206rem + 0.575vw, 1.6663rem);
	--s-2: clamp(1.62rem, 1.3741rem + 1.0929vw, 2.2211rem);
	--s-3: clamp(1.944rem, 1.5281rem + 1.8486vw, 2.9607rem);
	--s-4: clamp(2.3328rem, 1.6726rem + 2.9343vw, 3.9467rem);
	--s-5: clamp(2.7994rem, 1.7924rem + 4.4755vw, 5.2609rem);
	--s-6: clamp(3.3592rem, 1.8646rem + 6.6428vw, 7.0128rem);

	/* spacing */
	--space-xxs: calc(var(--s--2) * 0.5);
	--space-xs:  calc(var(--s--1) * 0.6);
	--space-sm:  calc(var(--s-0) * 0.75);
	--space-m:  var(--s-0);
	--space-lg:  calc(var(--s-1) * 0.9);
	--space-xl:  var(--s-2);

	/* other */
	--wrapper-max-width: 1680px;

}