.site-footer {
  margin-block-start: var(--space-lg);
    font-size: var(--text-sm);
}

.site-footer__inner-wrap {
  --flow-space: var(--space-sm);

  border-top: var(--border-width-thin) var(--border-style) var(--color-border-quiet);
  padding-block: var(--space-lg);
}

.site-footer__heading {
  font-family: var(--font-body);
  font-size: var(--text-base);
}

.site-footer__social-links-list {
  display: flex;
  gap: var(--space-sm);

  li {
    display: inline;
    margin: 0;
  }
}

.site-footer__copyright {
  color: var(--color-text-quieter);

  p {
    line-height: var(--leading-none);
  }

}
