:root {
	color-scheme: light dark;
}

html {
	font-size: 100%;
	background: var(--site-bg-primary, black);
	color: var(--site-fg-primary, white);
}

body {
	font-family: 'Source Sans 3 Variable', sans-serif;
	font-optical-sizing: auto;
	font-size: var(--s-0);
	font-style: normal;
	font-weight: 400;
	margin: 0;
}

p {
	max-width: 60ch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Serif 4 Variable', serif;
	font-weight: 800;

	/* letter-spacing: -1.1px; */
}

/* classes */

/* utilities */
.list--inline {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list--inline li {
	display: inline;
}

.list--inline *+* {
	margin-inline-start: var(--space-xxs);
}

/* header */
.header__grid {
	display: grid;
	gap:var(--space-sm);
	padding-block: var(--space-lg);
	/* grid-template-columns: 1fr 1fr 1fr; */
	border-bottom: 1px solid;
	border-color: light-dark(#333b3c, #efefec);
}

.header__logo {

	max-width: 10rem;
	max-width: 5rem;
}

.header__logo a {
	display: block; /* Make the anchor tag a block-level element */
	height: 100%; /* Make the anchor tag take the full height of its parent container */
	width: 100%;
}

.header__logo svg {
	display: block; /* Change default inline display to block to remove extra spacing */
	height: 100%; /* Make the SVG take the full height of the anchor tag */
	width: 100%; /* Make the SVG take the full width of the anchor tag */
}



