:root {
	color-scheme: light dark;
}

html {
	background: var(--site-bg-dark, black);
	color: var(--site-fg-muted, white);
	font-size: 100%;
}

body {
	background-color: var(--site-bg, black);
	font-family: 'Source Sans 3 Variable', sans-serif;
	font-optical-sizing: auto;
	font-size: var(--s-0);
	font-style: normal;
	font-weight: 400;
	margin: 0;
}

a:not([class]) {
	color: var(--site-fg, white);
}

a:hover:not([class]) {
	color: var(--color-accent, orangered);
	text-decoration: none;
}

p {
	max-width: 60ch;
	text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--site-fg, black);
	font-family: 'Source Serif 4 Variable', serif;
	font-weight: 800;
	letter-spacing: -1.1px;
	max-width:40ch;
	text-box-edge: cap alphabetic;
	text-box-trim: trim-both;
}

h1 {
	font-size: var(--s-4)
}

/* classes */

/* utilities */
.list--inline {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list--inline li {
	display: inline;
}

.list--inline *+* {
	margin-inline-start: var(--space-xxs);
}

/* header */
.header__grid {
	background-color: var(--site-bg-light);
	border-bottom: 1px solid;
	border-color: var(--site-fg-muted);
	display: grid;
	gap:var(--space-sm);
	padding-block: var(--space-lg);
}

.header__logo {
	max-width: 5rem;
}

.header__logo a {
	display: block;
	height: 100%;
	width: 100%;
}

.header__logo svg {
	display: block;
	height: 100%;
	width: 100%;
}