:root {
	color-scheme: light dark;
}

html {
	background: var(--site-bg-dark, black);
	color: var(--site-fg-muted, white);
	font-size: 100%;
}

body {
	background-color: var(--site-bg, black);
	font-family: 'Source Sans 3 Variable', sans-serif;
	font-optical-sizing: auto;
	font-size: var(--s-0);
	font-style: normal;
	font-weight: 400;
	margin: 0;
}

main {
	flex: 1;
}

a {
	border-radius: 5px;
	color: var(--site-fg, white);
	outline-offset: 2px;
	transition: all ease-in-out 100ms;
}

a:hover {
	color: var(--color-accent, orangered);
	text-decoration-color: transparent;
}

p {
	max-width: 60ch;
	text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--site-fg, black);
	font-family: 'Source Serif 4 Variable', serif;
	font-weight: 800;
	letter-spacing: -1.1px;
	max-width:40ch;
	text-box-edge: cap alphabetic;
	text-box-trim: trim-both;
}

h1 {
	font-size: var(--s-4)
}

/* classes */
.tag {
	border-radius: 5px;
	border: .01em solid;
	letter-spacing: 0.5px;
	padding-inline: var(--space-xxs);
	text-decoration: none;
	text-transform: uppercase;
}

/* utilities */
.list--inline {
	list-style-type: none;
	margin-inline: 0;
	padding: 0;
}

.list--inline li {
	display: inline;
}

.list--inline *+* {
	margin-inline-start: var(--space-xxs);
}

/* header */
.header {
	background-color: var(--site-bg-light);
	border-bottom: 1px solid;
	border-color: var(--site-fg-muted);
}

.header__grid {
	align-items: end;
	display: grid;
	gap:var(--space-sm);
	grid-template-columns: auto 1fr;
	padding-block: var(--space-lg);
}

.header__logo {
	max-width: var(--s-5);
}

.header__logo a {
	display: block;
	height: 100%;
	width: 100%;
}

.header__logo svg {
	display: block;
	height: 100%;
	width: 100%;
}

.header__nav ul {
	margin-block: 0;
	line-height: 1;
}

/* footer */

.footer {
	background-color: var(--site-bg-dark);
}

.footer__grid {
	padding-block: var(--space-lg);
}