.stack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.stack > * {
	margin-block: 0;
} 

.stack-xxs > * + * {
	margin-block-start: var(--space-xxs, 1.5rem);
}

.stack-xs > * + * {
	margin-block-start: var(--space-xs, 1.5rem);
}

.stack-sm > * + * {
	margin-block-start: var(--space-sm);
}

.stack-m > * + * {
	margin-block-start: var(--space-m, 1.5rem);
}

.stack-lg > * + * {
	margin-block-start: var(--space-lg);
}

.stack-xl > * + * {
	margin-block-start: var(--space-xl);
}

.wrapper {
	margin-inline: auto;
	max-width: var(--wrapper-max-width);
	padding-inline: var(--space-lg);
}