---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = Object. values(import.meta.glob('../posts/*md', {eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Mike Jeffery | Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
	<h1>Tags</h1>
	<p>The list below is a collection of tags used to categorize blog posts on this site.</p>
	<ul>
		{tags.map((tag) => <li><a href={`/tags/${tag}`}>{tag}</a></li>)}
	</ul>
</BaseLayout>