---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About | mikejeff.com";
---

<BaseLayout pageTitle={pageTitle}>

<h1>Hey, I’m Mike — Nice to Meet You!</h1>

<p>Hi, I’m Mike Jeffery. I design and build user-friendly, accessible interfaces for the web, blending thoughtful design with clean, functional code. I’m passionate about making the web a better place for everyone.</p>

<p>Outside of work, I’m a proud dad — my partner and I are raising two incredible kids in North Reading, MA, where we spend as much time exploring and making memories as we can.</p>

	</BaseLayout>