---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page | Mike Jeffery";
---
<BaseLayout pageTitle={pageTitle}>
	<h1>Mike Jeffery is a front-end developer near Boston, MA.</h1>
	<p>I design and build websites with a focus on accessibility, performance, and long-term maintainability. I’ve spent years working primarily on the development side and bring a practical design sensibility to everything I build. I believe good websites should be simple, durable, and easy to use.</p>
	<p>Currently, I work for a leader in the travel industry, where I’ve spent more than nine years building and improving the sites of some of the biggest names in travel.
</p>
	<p>My partner and I are raising two amazing kids in North Reading, about 20 miles north of Boston. In my spare time, I play music, love retro video games, and enjoy tinkering with electronics.</p>
</BaseLayout>