---
import Social from './Social.astro';
---

<footer>
	<div class="site-inline-size">
		<Social />
		<small>© <span id="copyrightYear"></span> Michael R Jeffery. All rights reserved.</small>
		<p>Built with <a href="https://astro.build/">Astro</a></p>
		<script>
			const copyrightYear = document.getElementById("copyrightYear");
			const year = new Date().getFullYear();
			if (copyrightYear) {
				if (year > 2025) {
					copyrightYear.textContent = "2025-" + year.toString();
				} else {
					copyrightYear.textContent = year.toString();
				}
			}
		</script>
	</div>
</footer>