---
import Social from './Social.astro';
---

<footer class="footer">
	<div class="wrapper footer__grid stack stack-m">
		<Social />
			<div>
				<small>© <span id="copyrightYear"></span> Michael R Jeffery. All rights reserved. Built with <a href="https://astro.build/">Astro</a>.</small>
			</div>
		<script>
			const copyrightYear = document.getElementById("copyrightYear");
			const year = new Date().getFullYear();
			if (copyrightYear) {
				if (year > 2025) {
					copyrightYear.textContent = "2025-" + year.toString();
				} else {
					copyrightYear.textContent = year.toString();
				}
			}
		</script>
	</div>
</footer>