---
import Logo from "./Site-logo.astro";
import Navigation from "./Navigation.astro";
---

<header class="header">
	<div class="wrapper header__grid">
		<div class="header__logo">
			<a href="/"><Logo /></a>
		</div>
    <Navigation />
    <theme-toggle class="header__theme-toggle">
      <span id="theme-toggle">Dark mode</span>
      <button  role="switch" aria-checked="false" aria-labelledby="theme-toggle">
        <span>on</span>
        <span>off</span>
      </button>
    </theme-toggle>
	</div>
<script type="text/javascript" src="./scripts/theme-toggle.js"></script>
</header>