---
import Navigation from "./Navigation.astro"
import ThemeIcon from './ThemeIcon.astro';
---
<header>
	<div class="site-inline-size">
		<div class="site-identity">
			<a href="/" class="site-identity__link">MJ</a>
		</div>
		<Navigation />
	</div>
</header>