---
import Logo from "./Site-logo.astro";
import Navigation from "./Navigation.astro";
---

<header>
	<div class=" ">
		<div class=" wrapper header__grid">
			<div class="header__logo">
				<a href="/"><Logo /></a>
			</div>
			<div>
				<Navigation />
			</div>
		</div>
	</div>
</header>