<div class="stack stack-xxs">
	<p>Find me elsewhere on the web 😀</p>
	<ul class="list--inline">
		<li><a href="https://bsky.app/profile/fellaroonie.bsky.social">BlueSky</a></li>
		<li><a href="https://www.linkedin.com/in/mikejeffdev/">LinkedIn</a></li>
		<li><a href="https://github.com/mikejeff">GitHub</a></li>
	</ul>
</div>