---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/source-serif-4';
import '@fontsource-variable/source-sans-3';
import '../styles/reset.css';
import '../styles/custom-properties.css';
import '../styles/layout.css';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="stack stack-xl">
    <Header />
		<main>
			<div class="wrapper">
				<article class="stack stack-m">
					<slot />
				</article>
			</div>
		</main>
		<Footer />
	</body>
</html>